.navheader__container { 
    display: flex;
    flex: 0 1;
    align-items: center;
    margin-top: 30px;
}

.logo__container { 
    background-color:rgb(255, 86, 48);
    padding: 23px;
    border-radius: 5px;
    box-sizing: border-box;
}


.navheader__title {
    margin-left: 10px;
    box-sizing: border-box;
}

